
@{
    ViewBag.Title = "New";
}


<h1 style="color:green;">Cererea de alăturare a fost transmisă cu succes!</h1>

<a href="@Url.Action("Show", "Groups", new { id=ViewBag.GroupId })" class="btn btn-info">Înapoi la Grup.</a>