
@{
    ViewBag.Title = "Show";
}

<div class="panel panel-primary">

    <div class="panel-heading">
        <h2>@ViewBag.Category.CategoryName</h2>
    </div>

    <div class="panel-body">
        <p>Descriere: @ViewBag.Category.CategoryDescription</p>
    </div>

    <div class="panel-footer">

        <div style="display: inline-block">
            <a href="/Categories/Edit/@ViewBag.Category.CategoryId" class="btn btn-success" role="button">Modifica Categorie</a>
        </div>

        <div style="display: inline-block">
            <form method="post" action="/Categories/Delete/@ViewBag.Category.CategoryId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit" class="btn btn-danger">Sterge Categoria</button>
            </form>
        </div>
    </div>

</div>

<hr />
<a href="/Categories/Index" class="btn btn-primary" role="button">Inapoi la categorii</a>
<br />